<div class="ui stackable grid">
  <div class="three wide column"></div>
  <div class="ten wide column">
    <%= render partial: 'spree/shared/error_messages', locals: { target: @spree_user } %>

    <div id="forgot-password">
      <h3 class="specificFont"><%= Spree.t(:forgot_password) %></h3>

      <p><%= Spree.t(:instructions_to_reset_password) %></p>

      <%= form_for Spree::User.new, as: :spree_user, url: spree.reset_password_path, html: { class: "ui form" } do |f| %>
          <div class="field">
            <%= f.label :email, Spree.t(:email) %>
            <div class="ui left icon input">
              <i class="user icon"></i>
              <%= f.email_field :email, autofocus: true %>
            </div>
          </div>


          <%= f.submit Spree.t(:reset_password), :class => 'ui fluid large teal submit button' %>

      <% end %>
    </div>
  </div>
  <div class="three wide column"></div>
</div>




