<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <div class="container">
      <%= render :partial => 'spree/shared/header' %>
      <% is_welcome = ['home'].include?(controller_name) && ['index'].include?(action_name) %>
      <div id="wrapper" class="row" data-hook>
        <div id="content" class="columns mainContainer <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>
          <%- if flash[:success] || flash[:notice] || flash[:alert] || flash[:error] || flash[:info]%>
          <div class="ui grid lala">
            <div class="five wide column"></div>
            <div class="six wide column">
              <%- if flash[:success] %>
                  <div class="ui attached positive message notice">
                    <p class="header notice"><%= flash[:success] %></p>
                  </div>
              <%- end %>
              <%- if flash[:notice] %>
                  <div class="ui attached positive message notice">
                    <p class="header notice"><%= notice %></p>
                  </div>
              <%- end %>
              <%- if flash[:alert] %>
                  <div class="ui attached negative message notice">
                    <p class="header alert"><%= alert %></p>
                  </div>
              <%- end %>
              <%- if flash[:error] %>
                  <div class="ui attached negative message notice">
                    <p class="header alert"><%= flash[:error] %></p>
                  </div>
              <%- end %>
              <%- if flash[:info] %>
                  <div class="ui attached message notice">
                    <p class="header notice"><%= flash[:info] %></p>
                  </div>
              <%- end %>
            </div>
            <div class="four wide column"></div>
          </div>
          <%- end %>
          <%= flash_messages %>
          <div class="ui grid">
            <%- unless is_welcome %>
              <div class="one wide column"></div>
              <div class="two wide column">
                <%= custom_taxon_breadcrumbs(@taxon) %>
                <%- #custom_product_breadcrumbs %>
                <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>
              </div>
              <div class="ten wide column">
                <%= yield %>
              </div>
              <div class="three wide column"></div>
            <%- end %>
            <%- if is_welcome %>
                <div class="sixteen wide column">
                  <%= yield %>
                </div>
            <%- end %>
          </div>
        </div>
        <%= yield :templates %>
      </div>
      <%= render :partial => 'spree/shared/footer' %>
    </div>
  </body>
</html>
