
<p>
  <%= I18n.t('contact_mail_introduction') %>
</p>

<p>
  <%= I18n.t('contact_mail_phone_label') %> <br>
  <%= @contact.phone %>
</p>
<p>
  <%= I18n.t('contact_mail_email_label') %> <br>
  <%= @contact.email %>
</p>
<p>
  <%= I18n.t('contact_mail_message_label') %> <br>
  <%= @contact.message %>
</p>


