<header id="header" class="row" data-hook>


  <div class="ui center aligned container">
    <div class="ui stackable column grid">
      <div class="two wide column">
        <%= image_tag 'mfinal.png', :class => 'ui centered small image mainLogo' %>
      </div>
      <div class="eleven wide column middle aligned">
        <div class="ui massive secondary menu miraMenu">
          <a class="item specificFont" href="<%= spree.root_path %>">Accueil</a>
          <a class="item specificFont" href="<%= spree.home_story_path %>">Le Concept</a>
          <a class="item specificFont" href="<%= spree.home_suppliers_path %>">Nos Fournisseurs</a>
          <a class="item specificFont" href="<%= spree.products_path %>">Catalogue</a>

          <!--<a class="item" href="<%= spree.home_contact_path %>">Contact</a>-->
        </div>
      </div>

      <div class="three wide column middle aligned">
        <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
        <br>
        <%= render :partial => 'spree/shared/login_bar' %>
      </div>
    </div>
  </div>
  <!--<figure id="logo" class="columns six" data-hook><%= image_tag '', :class => 'ui icon' %></figure>-->
  <!--<%= render :partial => 'spree/shared/nav_bar' %>-->

</header>
