
  <div class="field">
    <%= f.label :email, Spree.t(:email) %>
    <div class="ui left icon input">
      <i class="user icon"></i>
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>
<div id="password-credentials" class="field">
  <%= f.label :password, Spree.t(:password) %>
  <div class="ui left icon input">
    <%= f.password_field :password %>
  </div>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, Spree.t(:confirm_password) %>
    <div class="ui left icon input">
      <%= f.password_field :password_confirmation, class: 'title' %>
    </div>
  </div>



<div data-hook="signup_below_password_fields"></div>
