<div class="ui grid">
  <div class="sixteen wide column">
    <div class="miraSlider">
      <div class="firstPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="secondPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="thirdPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="fourthPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="fifthPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="sixthPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="seventhPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="eighthPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
    </div>

    <div class="miraSecondSlider">
      <div class="firstPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="secondPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="thirdPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="fourthPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="fifthPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="sixthPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="seventhPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="eighthPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
    </div>

    <div class="miraThirdSlider">
      <div class="firstPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="secondPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="thirdPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="fourthPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="fifthPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="sixthPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="seventhPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
      <div class="eighthPicture carrouselImage">
        <%= image_tag 'mfinal.png', :class => 'ui image' %>
      </div>
    </div>
  </div>
  <div class="ui grid">
    <div class="three wide column">
    </div>
    <div class="ten wide column">
      <div class="ui grid">
      <div class="five wide column">
        <a href="<%= spree.home_story_path %>">
          <%= image_tag 'home_ad1.jpg', :class => 'ui image fluid' %>
        </a>

        <br>
        <p class="specificFont bigFont">Conception Artisanale, avec coeur et des matières 100% naturelles</p>
      </div>
      <div class="six wide column">
        <a href="<%= spree.home_story_path %>">
        <%= image_tag 'home_ad2.jpg', :class => 'ui image fluid' %>
        </a>
      </div>
      <div class="five wide column">
        <a href="<%= spree.home_story_path %>">
        <%= image_tag 'home_ad3.jpg', :class => 'ui image fluid' %>
        </a>
        <br>
        <p class="specificFont bigFont">Produit à Madagascar, dans une démarche équitable et responsable</p>
      </div>
      </div>
    </div>
    <div class="three wide column">
    </div>

  </div>

</div>






