<div class="ui grid">
  <div class="sixteen wide column">
    <div class="productAdvantages centeredText">
      <div class="ui horizontal list">
        <div class="ui item oblique"><i class="ui icon check circle teal"></i> Fait main</div>
        <div class="ui item oblique"><i class="ui icon check circle teal"></i> Issus de l'agriculture biologique</div>
        <div class="ui item oblique"><i class="ui icon check circle teal"></i> Respectueux des fournisseurs</div>
        <div class="ui item oblique"><i class="ui icon check circle teal"></i> Qualité artisanale</div>
      </div>
    </div>
    <br>


    <div class="tallPictures">
      <div class="mainTitle">
        Mira
      </div>
      <%= image_tag 'thin28.jpg', :class => 'thin_image' %>
      <%= image_tag 'thin29.jpg', :class => 'thin_image' %>
      <%= image_tag 'thin30.jpg', :class => 'thin_image' %>
      <%= image_tag 'thin40.jpg', :class => 'thin_image' %>

      <%= image_tag 'thin7.jpg', :class => 'thin_image' %>
      <%= image_tag 'thin17.jpg', :class => 'thin_image' %>


      <%= image_tag 'thin46.jpg', :class => 'thin_image' %>


      <% image_tag 'thin16.jpg', :class => 'thin_image' %>
      <%= image_tag 'thin23.jpg', :class => 'thin_image' %>
      <%= image_tag 'thin32.jpg', :class => 'thin_image' %>











      <%= image_tag 'thin47.jpg', :class => 'thin_image' %>

      <%= image_tag 'thin35.jpg', :class => 'thin_image' %>
      <%= image_tag 'thin36.jpg', :class => 'thin_image' %>
      <%= image_tag 'thin37.jpg', :class => 'thin_image' %>

      <%= image_tag 'thin33.jpg', :class => 'thin_image' %>


      <%= image_tag 'thin42.jpg', :class => 'thin_image' %>



      <%= image_tag 'thin45.jpg', :class => 'thin_image' %>

      <%= image_tag 'thin11.jpg', :class => 'thin_image' %>
      <%= image_tag 'thin41.jpg', :class => 'thin_image' %>
      <%= image_tag 'thin48.jpg', :class => 'thin_image' %>

      <% image_tag 'thin17.jpg', :class => 'thin_image' %>






    </div>


    <div class="miraThirdSlider">
      <!--<div class="firstPicture carrouselImage">-->
        <!--<%= image_tag 'produits16.jpg', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="secondPicture carrouselImage">-->
        <!--<%= image_tag 'produits1.jpg', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="thirdPicture carrouselImage">-->
        <!--<%= image_tag 'produits2.JPG', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="fourthPicture carrouselImage">-->
        <!--<%= image_tag 'produits3.jpg', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="fifthPicture carrouselImage">-->
        <!--<%= image_tag 'produits4.jpg', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="sixthPicture carrouselImage">-->
        <!--<%= image_tag 'produits5.jpg', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="seventhPicture carrouselImage">-->
        <!--<%= image_tag 'produits6.png', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="eighthPicture carrouselImage">-->
        <!--<%= image_tag 'produits7.jpg', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="eighthPicture carrouselImage">-->
        <!--<%= image_tag 'produits8.jpg', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="ninthPicture carrouselImage">-->
        <!--<%= image_tag 'produits9.jpg', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="tenthPicture carrouselImage">-->
        <!--<%= image_tag 'produits10.jpg', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="eleventhPicture carrouselImage">-->
        <!--<%= image_tag 'produits11.jpg', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="twelthPicture carrouselImage">-->
        <!--<%= image_tag 'produits12.jpg', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="thirteenthPicture carrouselImage">-->
        <!--<%= image_tag 'produits13.jpg', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="fourteenthPicture carrouselImage">-->
        <!--<%= image_tag 'produits14.jpg', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="fifteenthPicture carrouselImage">-->
        <!--<%= image_tag 'produits15.jpg', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="fifteenthPicture carrouselImage">-->
        <!--<%= image_tag 'produits17.jpg', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="fifteenthPicture carrouselImage">-->
        <!--<%= image_tag 'produits18.jpg', :class => 'ui image small' %>-->
      <!--</div>-->
      <!--<div class="fifteenthPicture carrouselImage">-->
        <!--<%= image_tag 'produits19.jpg', :class => 'ui image small' %>-->
      <!--</div>-->


    </div>
  </div>

  <!--<div class="ui grid">-->
    <!--<div class="three wide column">-->
    <!--</div>-->
    <!--<div class="ten wide column">-->
      <!--<div class="ui grid">-->
        <!--<div class="five wide column">-->
          <!--<a href="<%= spree.home_story_path %>">-->
            <!--<%= image_tag 'home_ad1.jpg', :class => 'ui image fluid' %>-->
          <!--</a>-->

          <!--<br>-->
          <!--<p class="specificFont bigFont">Conception Artisanale, avec coeur et des matières 100% naturelles</p>-->
        <!--</div>-->
        <!--<div class="six wide column">-->
          <!--<a href="<%= spree.home_story_path %>">-->
            <!--<%= image_tag 'home_ad2.jpg', :class => 'ui image fluid' %>-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="five wide column">-->
          <!--<a href="<%= spree.home_story_path %>">-->
            <!--<%= image_tag 'home_ad3.jpg', :class => 'ui image fluid' %>-->
          <!--</a>-->
          <!--<br>-->
          <!--<p class="specificFont bigFont">Produit à Madagascar, dans une démarche équitable et responsable</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="three wide column">-->
    <!--</div>-->

  <!--</div>-->
</div>






