
<br>
<div class="ui stackable grid">
  <div class="two wide column">
    <div class="miraSectionTitle">
      Concept
    </div>
    <%= image_tag 'arrow_thin.png', :class => 'ui mini image arrow_thin' %>
  </div>

  <div class="five wide column">
    <%= image_tag 'brand_pic_1.jpg', :class => 'ui image fluid bottomMargin' %>
    <div class="justifiedText">
      <%= simple_format I18n.t('concept_1') %>
    </div>

  </div>
  <div class="five wide column">
    <%= image_tag 'brand_pic_2.jpg', :class => 'ui image fluid bottomMargin' %>
    <div class="justifiedText">
      <%= simple_format I18n.t('concept_2') %>
    </div>
  </div>
  <div class="four wide column">
    <%= image_tag 'brand_pic_3.jpg', :class => 'ui image fluid topMargin' %>
  </div>
</div>

<div class="ui section slightlyLonelyDivider"></div>

<div class="ui stackable grid">
  <div class="two wide column">
    <div class="miraSectionTitle">
      Respect des artisans
    </div>
    <%= image_tag 'arrow_thin.png', :class => 'ui mini image arrow_thin' %>
  </div>
  <div class="eight wide column">
    <div class="justifiedText">
      <%= simple_format I18n.t('suppliers_respect_1') %>
    </div>
    <%= image_tag 'workshop_1.jpg', :class => 'ui image fluid topMargin' %>
  </div>
  <div class="six wide column">
    <div class="justifiedText">
      <%= simple_format I18n.t('suppliers_respect_2') %>
    </div>
    <%= image_tag 'workshop_2.jpg', :class => 'ui image fluid topMargin' %>
  </div>
</div>

<div class="ui section slightlyLonelyDivider"></div>

<div class="ui stackable grid">
  <div class="two wide column">
    <div class="miraSectionTitle">
      Qualité des produits
    </div>
    <%= image_tag 'arrow_thin.png', :class => 'ui mini image arrow_thin' %>
  </div>
  <div class="five wide column">
    <div class="justifiedText">
      <%= simple_format I18n.t('product_quality_1') %>
    </div>
    <%= image_tag 'materials_1.jpg', :class => 'ui image fluid topMargin' %>
  </div>
  <div class="four wide column">
    <%= image_tag 'materials_2.jpg', :class => 'ui image fluid bottomMargin' %>
    <div class="">
      <%= simple_format I18n.t('product_quality_2') %>
    </div>
  </div>
  <div class="five wide column">
    <div class="justifiedText">
      <%= simple_format I18n.t('product_quality_3') %>
    </div>
    <%= image_tag 'materials_3.jpg', :class => 'ui image fluid topMargin' %>
  </div>
</div>