<div class="lonelyDivider specificBigFont">
  Fournisseurs
</div>

<div class="ui stackable grid">
  <div class="two wide column">
    <div class="miraSectionTitle">
      Huiles essentielles
    </div>
    <%= image_tag 'arrow_thin.png', :class => 'ui mini image arrow_thin' %>
  </div>
  <div class="seven wide column">
    <div class="ui stackable grid">
      <div class="eight wide column">
        <%= image_tag 'eucalyptus-leaves.jpg', :class => 'ui image fluid' %>
      </div>
      <div class="eight wide column">
        <%= image_tag 'geranium-rosat-bourbon-2.jpg', :class => 'ui image fluid' %>
      </div>
      <div class="eight wide column">
        <%= image_tag 'Ylang-Ylang.jpg', :class => 'ui image fluid' %>
      </div>
      <div class="eight wide column">
        <%= image_tag 'ravintsara-1.jpg', :class => 'ui image fluid' %>
      </div>
    </div>

  </div>


  <div class="seven wide column">
    <div class="justifiedText">
      <%= simple_format I18n.t('suppliers.essential_oils') %>
    </div>
    <%= image_tag 'huilesess.jpg', :class => 'ui image fluid topMargin' %>
  </div>
</div>

<div class="ui section veryLonelyDivider"></div>

<div class="ui stackable grid">
  <div class="two wide column">
    <div class="miraSectionTitle">
      Artisans en corne de zébu
    </div>
    <%= image_tag 'arrow_thin.png', :class => 'ui mini image arrow_thin' %>
  </div>
  <div class="six wide column">
    <div class="justifiedText">
      <%= simple_format I18n.t('suppliers.zebu_horns_1') %>
    </div>
    <%= image_tag 'produits2.JPG', :class => 'ui image fluid topMargin' %>
  </div>
  <div class="eight wide column">
    <div class="ui stackable grid">
      <div class="sixteen wide column">
        <%= image_tag 'artisan_sculpteur.jpg', :class => 'ui image fluid' %>
      </div>
      <div class="sixteen wide column">
        <div class="justifiedText">
          <%= simple_format I18n.t('suppliers.zebu_horns_2') %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui section veryLonelyDivider"></div>

<div class="ui stackable grid">
  <div class="two wide column">
    <div class="miraSectionTitle">
      Hibiscus Production - Vêtements pour enfants
    </div>
    <%= image_tag 'arrow_thin.png', :class => 'ui mini image arrow_thin' %>
  </div>
  <div class="six wide column">
    <div class="justifiedText">
      <%= simple_format I18n.t('suppliers.hibiscus_1') %>
    </div>
    <%= image_tag 'hibiscus.jpg', :class => 'ui image fluid topMargin' %>
  </div>
  <!--<div class="four wide column">-->
    <!--<%= image_tag 'coton_bio.jpg', :class => 'ui image fluid bottomMargin' %>-->
    <!--<div class="justifiedText">-->
      <!--<%= simple_format I18n.t('suppliers.hibiscus_2') %>-->
    <!--</div>-->
  <!--</div>-->
  <div class="eight wide column">
    <%= image_tag 'hibiscus2.jpg', :class => 'ui image fluid' %>
  </div>
  <div class="two wide column">

  </div>
  <div class="fourteen wide column">
    <%= simple_format I18n.t('suppliers.hibiscus_2') %>
  </div>
</div>

<div class="ui section veryLonelyDivider"></div>


<div class="ui stackable grid">
  <div class="two wide column">
    <div class="miraSectionTitle">
      Producteurs de Spiruline
    </div>
    <%= image_tag 'arrow_thin.png', :class => 'ui mini image arrow_thin' %>
  </div>
  <div class="five wide column">
    <div class="justifiedText">
      <%= simple_format I18n.t('suppliers.spiru_1') %>
    </div>
    <%= image_tag 'spiru.jpg', :class => 'ui image fluid topMargin' %>
  </div>
  <div class="five wide column">
    <%= image_tag 'spiru_prod.jpg', :class => 'ui image fluid bottomMargin' %>
    <div class="justifiedText">
      <%= simple_format I18n.t('suppliers.spiru_2') %>
    </div>
  </div>
  <div class="four wide column">
    <div class="justifiedText">
      <%= simple_format I18n.t('suppliers.spiru_3') %>
    </div>
    <%= image_tag 'help2.png', :class => 'ui image fluid topMargin' %>
  </div>
</div>

<div class="lonelyDivider specificBigFont">
  Produits partenaires
</div>

<div class="ui stackable grid">
  <div class="two wide column">
    <div class="miraSectionTitle">
      Lili Ampela
    </div>
    <%= image_tag 'arrow_thin.png', :class => 'ui mini image arrow_thin' %>

  </div>
  <div class="five wide column">
    <div class="justifiedText">
      <%= simple_format I18n.t('suppliers.lili_1') %>
    </div>
    <%= image_tag 'logo_lili_ampela.png', :class => 'ui image fluid topMargin' %>
    <div class="justifiedText">
      <%= simple_format I18n.t('suppliers.lili_2') %>
    </div>
  </div>
  <div class="three wide column">
    <%= image_tag 'lili_woman_1.jpg', :class => 'ui image fluid bottomMargin' %>
  </div>
  <div class="six wide column">
    <div class="justifiedText">
      <%= simple_format I18n.t('suppliers.lili_3') %>
    </div>

  </div>
</div>