<h3 class="ui horizontal divider header lonelyDivider specificFont">
  Fondatrice
</h3>


<div class="ui stackable grid">

  <div class="nine wide column">
    <h4 class="specificFont">Christelle David</h4>
    <div class="justifiedText">
      <%= simple_format I18n.t('christelle_description') %>
    </div>
  </div>
  <div class="seven wide column">
    <div class="ui card">
      <div class="image">
        <%= image_tag 'team13.jpg' %>
      </div>
    </div>
  </div>
</div>


<h3 class="ui horizontal divider header lonelyDivider specificFont">
  Directrice administrative
</h3>
<div class="ui stackable grid">
  <div class="five wide column">
    <div class="ui card">
      <div class="image">
        <%= image_tag 'team1.jpg' %>
      </div>
    </div>
  </div>
  <div class="eleven wide column">
    <h4 class="specificFont">Ange Liantsoa</h4>
    <div class="container text justifiedText">
      <%= simple_format I18n.t('ange_description') %>
    </div>
  </div>
</div>

<h3 class="ui horizontal divider header lonelyDivider specificFont">
  Manager de production
</h3>
<div class="ui stackable grid">
  <div class="five wide column">
    <div class="ui card">
      <div class="image">
        <%= image_tag 'team12.jpg' %>
      </div>
    </div>
  </div>
  <div class="eleven wide column">
    <h4 class="specificFont">Ivana R</h4>
    <div class="container text justifiedText">
      <%= simple_format I18n.t('ivana_description') %>
    </div>
  </div>
</div>

<h3 class="ui horizontal divider header lonelyDivider specificFont">
  Equipe de production
</h3>
<h5 class="ui header lonelyDiscreteDivider specificFont">
  Survolez les membres de l'équipe pour connaître leur role :)
</h5>
<div class="ui four special cards centered">
  <div class="card">
    <div class="image">
      <%= image_tag 'team11.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('richard_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('richard_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Richard
    </div>
  </div>

  <div class="card">
    <div class="image">
      <%= image_tag 'team8.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('zety_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('zety_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Zety
    </div>
  </div>
  <div class="card">
    <div class="image">
      <%= image_tag 'team3.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('lala_tiana_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('lala_tiana_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Lala Tiana
    </div>
  </div>
  <div class="card">
    <div class="image">
      <%= image_tag 'team9.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('lucie_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('lucie_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Lucie
    </div>
  </div>
  <div class="card">
    <div class="image">
      <%= image_tag 'team6.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('prisca_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('prisca_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Prisca
    </div>
  </div>
  <div class="card">
    <div class="image">
      <%= image_tag 'team5.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('nathalie_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('nathalie_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Nathalie
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('sandra_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('sandra_description') %></div>
          </div>
        </div>
      </div>
      <%= image_tag 'team2.jpg', class:'content'%>
    </div>

    <div class="extra">
      Sandra
    </div>
  </div>


  <div class="card">
    <div class="image">
      <%= image_tag 'team7.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('elia_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('elia_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Elia
    </div>
  </div>

  <div class="card">
    <div class="image">
      <%= image_tag 'team4.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('mirana_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('mirana_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Mirana
    </div>
  </div>

  <div class="card centered">
    <div class="image">
      <%= image_tag 'team10.jpg' %>
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="cardDimmerHeader"><%= I18n.t('edrys_job_title') %></div>
            <div class="cardDimmerText"><%= I18n.t('edrys_description') %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      Edrys
    </div>
  </div>


</div>