<div class="ui stackable grid">
  <div class="three wide column">

  </div>
  <div class="ten wide column">
    <% if flash[:alert] %>
        <div class="flash errors"><%= flash[:alert] %></div>
    <% end %>

    <% @body_id = 'login' %>
    <div id="existing-customer">
      <h3 class="specificFont"><%= Spree.t(:login_as_existing) %></h3>
      <div data-hook="login">
        <%= render partial: 'spree/shared/login' %>
        <br>
        <%= Spree.t(:or) %>&nbsp;<%= link_to Spree.t(:create_a_new_account), spree.signup_path %> | <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
      </div>
    </div>
    <div data-hook="login_extras"></div>
  </div>
  <div class="three wide column">

  </div>
</div>


<div class="ui stackable grid">
  <div class="three wide column"></div>
  <div class="ten wide column"></div>
  <div class="three wide column"></div>
</div>